.custom-multiselect {
    display: flex;
    flex-direction: column;    

    &__label {
        color: $secondary_color;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__select {        
        color: $secondary_color;      

        .multiselect__placeholder {
            font-size: 16px;
            color: $secondary_color;
        }
        
        .multiselect__tags {
            padding-left: 12px;
            border-color: lighten($color: $secondary_color, $amount: 40);

            .multiselect__tag {
                background-color: $primary_color;
                
                i.multiselect__tag-icon:after {
                    color: #fff
                }
            }
        }

        .multiselect__element {
            .multiselect__option--selected.multiselect__option::after {
                color: $primary_color;
            }

            .multiselect__option--highlight.multiselect__option--selected.multiselect__option::after {
                color: #ffffff;
            }                       
        }
    }
}